page-home {
    background-color: #eee;

    .container {
        margin-top: 40px;
        text-align: center;
    }

    .orange-button {
        color: #fff;
        background-color: #F8411F;
        border-color: #F8411F;
    }
}
